@mixin textshadow1 {
    color: $button-color;
    text-shadow: 1px 3px 0 #a9a6a9, 1px 13px 5px #bfb8c0;
    }

@mixin textshadow2 {
    color: $button-color;
    text-shadow: 3px 5px 2px #474747;
}

@mixin boxshadow {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

}

@mixin buttons {
    background-color: $button-color;
    color: white;
    cursor: pointer;
    padding: 8px;
    width: 100px;
    border-radius: 4px;
    

}